<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>CreditLine List</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">

    <div class="card-header">
        <i class="fa fa-search"></i> Search
    </div>
    <div class="card-body">
        <form #searchForm="ngForm">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="CreditLimit">CreditLimit</label>
                        <input type="number" class="form-control" id="CreditLimit" [(ngModel)]="search.CreditLimit" name="CreditLimit" #CreditLimit="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="EndDate">EndDate</label>
                        <input type="date" class="form-control" id="EndDate" [(ngModel)]="search.EndDate" name="EndDate" #EndDate="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="GroupCreditLimit">GroupCreditLimit</label>
                        <input type="number" class="form-control" id="GroupCreditLimit" [(ngModel)]="search.GroupCreditLimit" name="GroupCreditLimit" #GroupCreditLimit="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="StartDate">StartDate</label>
                        <input type="date" class="form-control" id="StartDate" [(ngModel)]="search.StartDate" name="StartDate" #StartDate="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select name="Type" id="Type" [(ngModel)]="search.Type" class="form-control" #Type="ngModel">
                            <option value="NonRevolving">NonRevolving</option>
                            <option value="Revolving">Revolving</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CreditLimit</th>
            <th scope="col">EndDate</th>
            <th scope="col">GroupCreditLimit</th>
            <th scope="col">StartDate</th>
            <th scope="col">Type</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'CreditLimit': search.CreditLimit, 'EndDate': search.EndDate, 'GroupCreditLimit': search.GroupCreditLimit, 'StartDate': search.StartDate, 'Type': search.Type }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/creditlines/', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.CreditLimit }}</td>
            <td>{{item.EndDate | date }}</td>
            <td>{{item.GroupCreditLimit }}</td>
            <td>{{item.StartDate | date }}</td>
            <td>{{item.Type }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    <span>
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'CreditLimit': search.CreditLimit ,  'EndDate': search.EndDate ,  'GroupCreditLimit': search.GroupCreditLimit ,  'StartDate': search.StartDate ,  'Type': search.Type  }).length == 0">
        No items found
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want remove item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">YES</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/creditlines/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>